 .search__form {
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
 }

 .search__input {
    width: 70%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
 }

 .search__btn {
    margin-left: 5px;
    background-color: #000;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 18px;
    color: white;
    border: 0;
}